<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">{{sofia.collections()}}</li>
                <li class="nav-pills">
                    <table id="countTable">
                        <tr ng-repeat="(key, value) in collections">
                            <td>
                                <div class="dbName" ng-click="query.queryString='db.' + key + '.find()'">{{key}}</div>
                            </td>
                            <td class="count"><span class="countContent">{{value}}</span></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>

    <div class="span6 main-content">
        <div class="well query">
            <div id="error" ng-show="showError">{{errorMessage}}</div>
            <form id="queryForm">
                <textarea id="mongo" name="queryString" rows="5" ng-model="query.queryString"></textarea>

                <table>
                    <tr>
                        <td><label for="bookmark">{{sofia.saveBookmark()}}</label></td>
                        <td>
                            <input id="bookmark" name="bookmark" type="text" ng-model="query.bookmark">
                            <a ng-click="modalShown=true" ng-show="bookmarks.length > 0">{{sofia.loadBookmark()}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="limit">{{sofia.queryLimit()}}</label></td>
                        <td><input id="limit" name="limit" type="number" ng-model="query.limit"></td>
                    </tr>
                    <tr>
                        <td><label for="showCount">{{sofia.queryShowCount()}}</label></td>
                        <td><input id="showCount" name="showCount" type="checkbox" ng-model="query.showCount"></td>
                    </tr>
                </table>
                <input id="query" class="btn btn-primary" type="button" value="{{sofia.querySubmit()}}"
                       ng-click="submitQuery()">

            </form>
        </div>
        <div class="table" ng-show="showCount">
            {{sofia.resultCount()}} <span id="countValue">{{count}}</span>
        </div>
        <div class="table">
            <table>
                <tr ng-repeat="row in results">
                    <td>
                        <pre ng-bind-html-unsafe="syntaxHighlight(row)"></pre>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ui-modal ng-model="modalShown">
    <div class="modal-body">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">{{sofia.bookmarkLoadTitle()}}</li>
                <li class="nav-pills">
                    <table>
                        <tr ng-repeat="bookmark in bookmarks">
                            <td>
                                <a class="bookmarkName" ng-click="useBookmark(bookmark);modalShown=false;"
                                   title="{{bookmark['queryString']}}">{{bookmark['bookmark']}}</a>
                            </td>
                            <td><a ng-click="deleteBookmark(bookmark)" title="Delete">X</a></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" ng-click="modalShown=false" href="">Close</a>
    </div>
</div>
