<div class="span9">
    <div class="well query">
        <form id="queryForm">
            <div id="error"></div>
            <textarea id="mongo" name="queryString" rows="5"></textarea>

            <div class="pull-left">
                <label for="limit">{{sofia.queryLimit()}}</label>
                <input id="limit" name="limit" ng-model="query.limit">
                <label for="showCount">{{sofia.queryShowCount()}}</label>
                <input id="showCount" name="showCount" type="checkbox" ng-model="query.showCount">
                <label for="bookmark">{{sofia.queryBookmark()}}</label>
                <input id="bookmark" name="bookmark">
                <!--
                <label for="readOnly">{{sofia.queryReadOnly()}}</label>
                <input id="readOnly" name="readOnly" type="checkbox" #{if content.info.readOnly } checked #{/if} >
                -->
            </div>
            <div class="pull-right">
                <input id="button" class="btn btn-primary" type="button" value="{{sofia.querySubmit()}}">
            </div>
        </form>
    </div>
    <div class="table" id="countHolder">
        {{sofia.resultCount()}} <span id="countValue"></span>
    </div>
    <div class="table" id="resultsHolder"></div>

    <script type="text/javascript">
        $(function () {
            $.get('/ophelia/app/content', function (data) {
                processResponse(data);
            });
            $("#button").click(function () {
                clearResults();
                $.ajax({
                    type:"POST",
                    url:"/ophelia/app/query",
                    data:$('#queryForm').serialize(),
                    success:function (response) {
                        processResponse(response);
                    },
                    error:function (response) {
                        $("#error").val(response.responseText);
                        $("#error").css('display', 'inherit');
                    }
                });
            });
        });
    </script>
</div>