<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">{{sofia.collections()}}</li>
                <li class="nav-pills">
                    <table id="countTable">
                        <tr ng-repeat="(key, value) in collections">
                            <td>
                                <div class="dbName" ng-click="query.queryString='db.' + key + '.find()'">{{key}}</div>
                            </td>
                            <td class="count"><span class="countContent">{{value}}</span></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>

    <div class="span9 main-content">
        <div class=" well query">
            <form id="queryForm">
                <div id="error"></div>
                <textarea id="mongo" name="queryString" rows="5" ng-model="query.queryString"></textarea>

                <div class="pull-left">
                    <label for="limit">{{sofia.queryLimit()}}</label>
                    <input id="limit" name="limit" ng-model="query.limit">
                    <label for="showCount">{{sofia.queryShowCount()}}</label>
                    <input id="showCount" name="showCount" type="checkbox" ng-model="query.showCount">
                    <label for="bookmark">{{sofia.queryBookmark()}}</label>
                    <input id="bookmark" name="bookmark">
                    <!--
                    <label for="readOnly">{{sofia.queryReadOnly()}}</label>
                    <input id="readOnly" name="readOnly" type="checkbox" #{if content.info.readOnly } checked #{/if} >
                    -->
                </div>
                <div class="pull-right">
                    <input id="button" class="btn btn-primary" type="button" value="{{sofia.querySubmit()}}"
                           ng-click="submitQuery()">
                </div>
            </form>
        </div>
        <div class="table" id="countHolder" ng-show="$scope.showCount">
            {{sofia.resultCount()}} <span id="countValue"></span>
        </div>
        <div class="table" id="resultsHolder"></div>
    </div>
</div>