#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span9">
    <!--Body content-->
    <div class="well query">
    <form>
        <textarea id="mongo" name="query" rows="5"></textarea>
        <input class="button" type="button" value="&{'query.submit'}">
    </form>
    </div>

    <script type="text/javascript">
        $(function () {
            $(".button").click(function () {
                alert($("#mongo").val());
                *{jQuery.post("@{query()}", )}*
                $.ajax({
                    type: "POST",
                    url: "@{query()}",
                    data: { "query": $("#mongo").val() },
                    success: function(response) {
                        alert(response);
                    }
                });
            });
        });
    </script>
</div>