#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span9">
    <div class="well query">
        <form>
            <div id="error"></div>
            <textarea id="mongo" name="query" rows="5"></textarea>
            <input id="button" class="btn btn-primary" type="button" value="&{'query.submit'}">
        </form>
    </div>
    <div class="table" id="gridHolder"></div>

    <script type="text/javascript">
        $(function () {
            $.get('@@{Application.setDatabase()}', function(data) {
                processResponse(data);
            });
            $("#button").click(function () {
                $("#error").css('display', 'none');
                $.ajax({
                    type:"POST",
                    url:"@{query()}",
                    data:{ "query":$("#mongo").val() },
                    success:function (response) {
                        processResponse(response);
                    },
                    error:function(response) {
                        $("#error").text(response.responseText);
                        $("#error").css('display', 'inherit');
                    }
                });
            });
        });
    </script>
</div>