#{extends 'main.html' /}
#{set title:'Home' /}

<div class="span9">
    <div class="well query">
        <form id="queryForm">
            <div id="error"></div>
            <textarea id="mongo" name="query" rows="5"></textarea>
            <div class="pull-left">
                <label for="limit">&{'query.limit'}</label>
                <input id="limit" name="limit" value="${content.info.limit}">
                *{<label for="readOnly">&{'query.readOnly'}</label>}*
                *{<input id="readOnly" name="readOnly" type="checkbox" #{if content.info.readOnly } checked #{/if} >}*
            </div>
            <div class="pull-right">
                <input id="button" class="btn btn-primary" type="button" value="&{'query.submit'}">
            </div>
        </form>
    </div>
    <div class="table" id="resultsHolder"></div>

    <script type="text/javascript">
        $(function () {
            $.get('@{Application.getContent()}', function(data) {
                processResponse(data);
            });
            $("#button").click(function () {
                $.ajax({
                    type:"POST",
                    url:"@{query()}",
                    data: $('#queryForm').serialize() ,
                    success:function (response) {
                        processResponse(response);
                    },
                    error:function(response) {
                        $("#error").val(response.responseText);
                        $("#error").css('display', 'inherit');
                    }
                });
            });
        });
    </script>
</div>