@(content: QueryResults)
@main {


<div class="span9">
    <div class="well query">
        <form id="queryForm">
            <div id="error"></div>
            <textarea id="mongo" name="query" rows="5"></textarea>
            <div class="pull-left">
                <label for="limit">@Sofia.queryLimit()</label>
                <input id="limit" name="limit" value="@{content.info.query.limit}">
                <label for="showCount">@Sofia.queryShowCount()</label>
                <input id="showCount" name="showCount" type="checkbox" #{if content.info.query.showCount } checked #{/if} >
                <label for="bookmark">@Sofia.queryBookmark()</label>
                <input id="bookmark" name="bookmark" value="@{content.info.query.bookmark}">
                @*<label for="readOnly">@Sofia.queryReadOnly()</label>
                <input id="readOnly" name="readOnly" type="checkbox" #{if content.info.query.readOnly } checked #{/if} >
                *@
            </div>
            <div class="pull-right">
                <input id="button" class="btn btn-primary" type="button" value="@Sofia.querySubmit()">
            </div>
        </form>
    </div>
    <div class="table" id="countHolder"></div>
    <div class="table" id="resultsHolder"></div>

    <script type="text/javascript">
        $(function () {
            $.get('/content', function(data) {
                processResponse(data);
            });
            $("#button").click(function () {
                clearResults();
                $.ajax({
                    type:"POST",
                    url:"/query",
                    data: $('#queryForm').serialize(),
                    success:function (response) {
                        processResponse(response);
                    },
                    error:function(response) {
                        $("#error").val(response.responseText);
                        $("#error").css('display', 'inherit');
                    }
                });
            });
        });
    </script>
</div>
}