<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- Le styles -->
        <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
        <link href="@{'/public/stylesheets/main.less'}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <link rel="shortcut icon" href="/ico/favicon.ico">
    #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript"
                charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/put.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}"></script>
        <script src="@{'/public/javascripts/clerk.js'}"></script>
    #{get 'moreScripts' /}
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">&{'app.title'}</a>

                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-home"></i> <span id="db">${content.database}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <div id="dbList">
                                <li><a href="#">to do!</a></li>
                            </div>
*{
                            <li class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
}*
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Collections</li>
                            <li class="nav-pills">
                                <table id="countTable">
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>

            #{doLayout /}
            </div>


            <hr>

            <footer>
                <p>&copy; Justin Lee 2012</p>
            </footer>

        </div>
    </body>
</html>
