<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- Le styles -->
        <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
        <link href="@{'/public/stylesheets/main.less'}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <link rel="shortcut icon" href="@{'/public/images/O.png'}">
    #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/O.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript"
                charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/put.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}"></script>
        <script src="@{'/public/javascripts/resultsTable.js'}"></script>
        <script src="@{'/public/javascripts/ophelia.js'}"></script>
    #{get 'moreScripts' /}
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">&{'app.title'}</a>

                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-home"></i> <span id="db">${content.database}</span>
                            <span class="caret"></span>
                        </a>
*{
                        <ul class="dropdown-menu dropdown-form" id="signin-dropdown">
                            <li class="dropdown-caret right">
                                <span class="caret-outer"></span>
                                <span class="caret-inner"></span>
                            </li>
                            <li>
                                <form action="https://twitter.com/sessions" class="js-signin signin" method="post">
                                    <fieldset class="textbox">
                                        <label class="username js-username">
                                            <span>Username or email</span>
                                            <input class="js-username-field email-input" type="text" name="session[username_or_email]" autocomplete="on">
                                        </label>
                                        <label class="password js-password">
                                            <span>Password</span>
                                            <input class="js-password-field" type="password" value="" name="session[password]">
                                        </label>
                                    </fieldset>
                                    <fieldset class="subchck">
                                        <label class="remember">
                                            <input type="checkbox" value="1" name="remember_me">
                                            <span>Remember me</span>
                                        </label>
                                        <button type="submit" class="btn submit">Sign in</button>
                                    </fieldset>

                                    <div class="divider"></div>
                                    <p>
                                        <a class="forgot" href="/account/resend_password" data-bitly-type="bitly_hover_card">Forgot password?</a><br>
                                        <a class="mobile has-sms" href="/account/complete" data-bitly-type="bitly_hover_card">Already using Twitter via text message?</a>
                                    </p>
                                </form>
                            </li>
                        </ul>
}*
                        <ul class="dropdown-menu dropdown-form">
                            <div id="dbList">
                            </div>
*{
                            <div class="divider"></div>
                            <li>
                                #{form @Application.changeHost(), class:'js-signin signin'}
                                    <fieldset class="textbox">
                                        <label class="host">
                                            <span>Host</span>
                                            <input type="text" name="${dbHost}" value="${session.dbHost}">
                                        </label>
                                        <label class="password">
                                            <span>Port</span>
                                            <input type="text" name="${dbPort}" value="${session.dbPort}"/>
                                        </label>
                                        <button type="submit" class="btn submit">Sign in</button>
                                    </fieldset>
                                #{/form}
                            </li>
}*
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Collections</li>
                            <li class="nav-pills">
                                <table id="countTable">
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>

            #{doLayout /}
            </div>


            <hr>

            <footer>
                <p>&copy; Justin Lee 2012</p>
            </footer>

        </div>
    </body>
</html>
